<%=link_to "Home",root_path%>
<h1>Hellow my friend <%@user.firstname%></h1>
<br/>
<%= image_tag @user.avatar.url(:medium) %>
Профіль :<%@user.firstname%> <%@user.secondname%> (<%@user.age%>)
<%=link_to "Exit",user_path(@user.id), method: :delete %>

